<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ site.title }}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="{{ site.author }}, {{ site.title }}" />
        <meta name="author" content="{{ site.author }}" />

        <meta name="description" content="{{ desc }}" />
        <link rel="stylesheet" href="../css/style.css" type="text/css" />
        <link rel="icon" type="image/ico" href="https://avatars.githubusercontent.com/u/71683721?v=4" />
        <link rel="shortcut-icon" type="image/" href="https://avatars.githubusercontent.com/u/71683721?v=4" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ desc }}" />
        <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/71683721?v=4" />
    </head>
</html>
